.all .container {
  margin-top: 6%;
}
@media screen and (max-width: 992px) {
  .all .container {
    margin-top: 15%;
  }
}
@media screen and (max-width: 1200px) {
  .all .container {
    margin-top: 8%;
  }
}

@media screen and (max-width: 768px) {
  .all .container {
    margin-top: 15%;
  }
}
